

body {
    font-family:'Noto Sans TC', sans-serif;
    }
    
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family:'Noto Sans TC', sans-serif;
    text-transform: none;
}


.subheading {
    font-family:'Noto Sans TC', sans-serif;
    text-transform: none;
}

.expedu-icon {
    color: #495057;
}
.expedu-icon:hover {
    background-color:口#495057；
    color: ■#fff;
}

:root {
    --bs-primary: rgb(240, 195, 228);
    --bs-primary-rgb: 240, 195, 228;
    --bs-secondary: #c27400;
    --bs-secondary-rgb: 194, 116, 0;
}

a {
    color: var(--bs-primary);
}
    
.social-icons .social-icon:hover {
    background-color: var(--bs-secondary);
}
