

body {
    font-family:'Noto Sans TC', sans-serif;
    }
    
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family:'Noto Sans TC', sans-serif;
    text-transform: none;
}


.subheading {
    font-family:'Noto Sans TC', sans-serif;
    text-transform: none;
}

.expedu-icon {
    color: #495057;
}
.expedu-icon:hover {
    background-color:口#495057;
    color: ■#fff;
}

:root {
    --bs-primary: #eaa5b5;
    --bs-primary-rgb: 234, 165, 181;
    --bs-secondary: #c27400;
    --bs-secondary-rgb: 194, 116, 0;
}

#pink {
    color: var(--bs-primary);
}
    
.social-icons .social-icon:hover {
    background-color: var(--bs-secondary);
}

table {width: 80%;}
th {background-color:#eeb9b9;}
th,td {border:1px solid #2a5d44;}

.bling:hover{
    color: #c27400;
}
#abc td{
    color: #a685f9;
}
a{
    color: inherit;
}